<?xml version="1.0"?>
<config>
    <modules>
        <ITwebexperts_PPRWarehouse>
            <version>0.1.1</version>
        </ITwebexperts_PPRWarehouse>
    </modules>
    <global>
        <models>
            <pprwarehouse>
                <class>ITwebexperts_PPRWarehouse_Model</class>
                <resourceModel>pprwarehouse_resource</resourceModel>
            </pprwarehouse>
            <pprwarehouse_resource>
                <class>ITwebexperts_PPRWarehouse_Model_Resource</class>
            </pprwarehouse_resource>
            <payperrentals>
                <rewrite>
                    <product_backend_serialnumbers>ITwebexperts_PPRWarehouse_Model_Payperrentals_Product_Backend_Serialnumbers</product_backend_serialnumbers>
                    <observer>ITwebexperts_PPRWarehouse_Model_Payperrentals_Observer</observer>
                    <product_type_reservation>ITwebexperts_PPRWarehouse_Model_Payperrentals_Product_Type_Reservation</product_type_reservation>
                    <product_type_grouped>ITwebexperts_PPRWarehouse_Model_Payperrentals_Product_Type_Grouped</product_type_grouped>
                    <product_type_configurable>ITwebexperts_PPRWarehouse_Model_Payperrentals_Product_Type_Configurable</product_type_configurable>
                </rewrite>
            </payperrentals>
            <cataloginventory>
                <rewrite>
                    <stock>ITwebexperts_PPRWarehouse_Model_CatalogInventory_Stock</stock>
                    <stock_item>ITwebexperts_PPRWarehouse_Model_CatalogInventory_Stock_Item</stock_item>
                    <observer>ITwebexperts_PPRWarehouse_Model_CatalogInventory_Observer</observer>
                </rewrite>
            </cataloginventory>
            <sales>
                <rewrite>
                    <quote_item>ITwebexperts_PPRWarehouse_Model_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <pprwarehouse>
                <class>ITwebexperts_PPRWarehouse_Block</class>
            </pprwarehouse>
            <warehouse>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_inventory_renderer>ITwebexperts_PPRWarehouse_Block_Warehouse_Adminhtml_Catalog_Product_Edit_Tab_Inventory_Renderer</adminhtml_catalog_product_edit_tab_inventory_renderer>
                    <adminhtml_catalog_product_edit_tab_inventory>ITwebexperts_PPRWarehouse_Block_Warehouse_Adminhtml_Catalog_Product_Edit_Tab_Inventory</adminhtml_catalog_product_edit_tab_inventory>
                </rewrite>
            </warehouse>
            <payperrentals>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_payperrentals_serialnumbers>ITwebexperts_PPRWarehouse_Block_Payperrentals_Adminhtml_Catalog_Product_Edit_Tab_Payperrentals_Serialnumbers</adminhtml_catalog_product_edit_tab_payperrentals_serialnumbers>
                    <adminhtml_html_sendreturngridproduct>ITwebexperts_PPRWarehouse_Block_Payperrentals_Adminhtml_Html_Sendreturngridproduct</adminhtml_html_sendreturngridproduct>
                    <adminhtml_html_sendreturngridcustomer>ITwebexperts_PPRWarehouse_Block_Payperrentals_Adminhtml_Html_Sendreturngridcustomer</adminhtml_html_sendreturngridcustomer>
                    <adminhtml_quantityreport>ITwebexperts_PPRWarehouse_Block_Payperrentals_Adminhtml_Quantityreport</adminhtml_quantityreport>
                </rewrite>
            </payperrentals>
        </blocks>
        <helpers>
            <pprwarehouse>
                <class>ITwebexperts_PPRWarehouse_Helper</class>
            </pprwarehouse>
            <payperrentals>
                <rewrite>
                    <data>ITwebexperts_PPRWarehouse_Helper_Payperrentals_Data</data>
                </rewrite>
            </payperrentals>
        </helpers>
        <resources>
            <pprwarehouse_setup>
                <setup>
                    <module>ITwebexperts_PPRWarehouse</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </pprwarehouse_setup>
        </resources>
        <events>
            <sales_order_save_before>
                <observers>
                    <pprwarehouse>
                        <type>singleton</type>
                        <class>pprwarehouse/observer</class>
                        <method>salesOrderSaveBefore</method>
                    </pprwarehouse>
                </observers>
            </sales_order_save_before>
        </events>
    </global>
    <frontend>
        <routers>
            <payperrentals_front>
                <args>
                    <modules>
                        <itwebexperts_pprwarehouse before="ITwebexperts_Payperrentals">ITwebexperts_PPRWarehouse</itwebexperts_pprwarehouse>
                    </modules>
                </args>
            </payperrentals_front>
        </routers>
        <layout>
            <updates>
                <itwebexperts_pprwarehouse>
                    <file>pprwarehouse.xml</file>
                </itwebexperts_pprwarehouse>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <itwebexperts_pprwarehouse>
                    <file>pprwarehouse.xml</file>
                </itwebexperts_pprwarehouse>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <payperrentals>
                <args>
                    <modules>
                        <itwebexperts_pprwarehouse before="ITwebexperts_Payperrentals">ITwebexperts_PPRWarehouse</itwebexperts_pprwarehouse>
                    </modules>
                </args>
            </payperrentals>
            <adminhtml>
                <args>
                    <modules>
                        <excellence_salesgrid before="Mage_Adminhtml">ITwebexperts_PPRWarehouse_Adminhtml</excellence_salesgrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
